body{
    background-color: #1a1a1a;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
 width: 10cm;
  height: 10cm;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 250px;
}



